params {
    base = "/N/project/Krolab/Siddharth/nf-chip-seq"
    ref_dir = "${params.base}/reference"
    ref = "${params.ref_dir}/hg19.fa"
    gtf = "${params.ref_dir}/hg19.knownGene.gtf"
    input_csv = 'samples.csv'
    threads = 8

    // Directories for fastq files
    fastq_dir = "${params.base}/fastq"
    raw_reads = "${params.fastq_dir}/raw_reads"
    trimmed_reads = "${params.fastq_dir}/trimmed_reads"
    skip_trimming = false
    fallback_to_trimming = true
    results = "${params.base}/results"


    // Directories for Quality Control
    qc_dir_before_trim = "${params.results}/fastqc/raw_reads"
    qc_dir_after_trim = "${params.results}/fastqc/trimmed_reads"

    // Parameters for Trimming
    cutadapt = "/N/u/sidrajes/Quartz/.conda/envs/cutadapt/bin/cutadapt"

    // Directory for aligned BAM files
    bam_dir = "${params.results}/bam"

    aligned = "${params.bam_dir}/original"
    skip_alignment = false
    fallback_to_alignment = true
    stats_dir = "${params.results}/bam_stats"
    stats_out_dir = "${params.stats_dir}/original"


    // Parameters for Marking PCR Duplicates in the BAM files
    mkdp = "${params.bam_dir}/mkdp"
    skip_mkdp = false
    fallback_to_mkdp = true
    mkdp_stats = "${params.stats_dir}/mkdp"


    // Parameters for filtering random noise regions from the BAM files
    filtered = "${params.bam_dir}/filtered"
    skip_filtering = false
    fallback_to_filtering = true
    blacklist = "${params.ref_dir}/hg19-blacklist.v2.bed"
    filtered_stats = "${params.stats_dir}/filtered"

    // Directories for Peak Calling
    peaks_dir = "${params.results}/peaks/broad"
    annotation_dir = "${params.results}/peaks/annotated"
    genome_size = 'hs'


    // Parameters for Motif Discovery and Analysis
    motif_dir = "${params.results}/motif_analysis"
    motif_database = "${params.ref_dir}/JASPAR2024_CORE_vertebrates_non-redundant_pfms_meme.txt"
    run_motif_analysis = true  // Set to true to run motif analysis
    top_peaks = 500
    motif_window = 100
    meme_minw = 6
    meme_maxw = 20
    meme_nmotifs = 10
    run_meme = false
}

profiles {
    slurm {
        apptainer {
            enabled = true
            cacheDir = "${params.base}/apptainer_images"
        }
        process {
            executor = 'slurm'
            queue = 'general'
            clusterOptions = '-A r00750'  // Apply account to ALL processes

            // Default resources for most processes
            cpus = 8
            memory = '50.GB'
            time = '20.h'

            withName: 'QC_before_trim' {
                cpus = 2
                memory = '12.GB'
                time = '4.h'
            }

            withName: 'QC_after_trim' {
                cpus = 2
                memory = '12.GB'
                time = '4.h'
            }

            withName: 'TrimReads' {
                cpus = 4
                memory = '32.GB'
                time = '20.h'
            }

            withName: 'AlignReads' {
                cpus = 16
                memory = '75.GB'
                time = '40.h'
            }

            withName: 'BuildIndex' {
                cpus = 4
                memory = '16.GB'
                time = '2.h'
            }

            withName: 'MarkDuplicates' {
                cpus = 4
                memory = '75.GB'
                time = '24.h'
            }

            withName: 'FilterBAM' {
                cpus = 4
                memory = '50.GB'
                time = '12.h'
            }

            withName: 'PeakCalling' {
                cpus = 12
                memory = '40.GB'
                time = '10.h'
            }

            withName: 'AnnotatePeaks' {
                cpus = 8
                memory = '20.GB'
                time = '3.h'
            }

            withName: 'MotifDiscovery' {
                cpus = 8
                memory = '20.GB'
                time = '3.h'
            }

            withName: 'MotifAnalysis' {
                cpus = 8
                memory = '20.GB'
                time = '2.h'
            }

            withName: 'AME' {
                cpus = 8
                memory = '20.GB'
                time = '3.h'
            }
        }

        // Conda configuration
        conda.enabled = true
        conda.cacheDir = "/N/u/sidrajes/Quartz/.conda/envs"

        // Global SLURM options for all processes
        executor.queueSize = 50
        executor.submitRateLimit = '10 sec'

        // Work directory on scratch if available
        workDir = '/N/project/Krolab/Siddharth/nf-chip-seq/work'

        // Cleanup options
        cleanup = false  // Keep work files for debugging
    }

    standard {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '8.GB'
    }
}