profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'general'
            clusterOptions = '-A #AccountID'  // Apply account to ALL processes

            // Default resources for most processes
            cpus = 8
            memory = '50.GB'
            time = '20.h'

            withName: 'QC_before_trim' {
                cpus = 2
                memory = '12.GB'
                time = '4.h'
            }

            withName: 'QC_after_trim' {
                cpus = 2
                memory = '12.GB'
                time = '4.h'
            }

            withName: 'TrimReads' {
                cpus = 4
                memory = '32.GB'
                time = '20.h'
            }

            withName: 'AlignReads' {
                cpus = 16
                memory = '75.GB'
                time = '40.h'
            }

            withName: 'BuildIndex' {
                cpus = 4
                memory = '16.GB'
                time = '2.h'
            }

            withName: 'MarkDuplicates' {
                cpus = 4
                memory = '75.GB'
                time = '24.h'
            }

            withName: 'FilterBAM' {
                cpus = 4
                memory = '50.GB'
                time = '12.h'
            }

            withName: 'PeakCalling' {
                cpus = 12
                memory = '40.GB'
                time = '10.h'
            }

            withName: 'AnnotatePeaks' {
                cpus = 8
                memory = '20.GB'
                time = '3.h'
            }

            withName: 'MotifDiscovery' {
                cpus = 8
                memory = '20.GB'
                time = '3.h'
            }

            withName: 'MotifAnalysis' {
                cpus = 8
                memory = '20.GB'
                time = '2.h'
            }

            withName: 'AME' {
                cpus = 8
                memory = '20.GB'
                time = '3.h'
            }
        }

        // Conda configuration
        conda.enabled = true
        conda.cacheDir = "/N/u/sidrajes/Quartz/.conda/envs"

        // Global SLURM options for all processes
        executor.queueSize = 50
        executor.submitRateLimit = '10 sec'

        // Work directory on scratch if available
        workDir = '/N/project/Krolab/Siddharth/nf-chip-seq/work'

        // Cleanup options
        cleanup = false  // Keep work files for debugging
    }

    standard {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '8.GB'
    }
}